* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fd800c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b05500;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
.table-bmi {
  margin: 50px 0 50px 0;
  padding: 30px 50px 30px 50px;
}

.bmi-title {
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #fd800c;
  margin-bottom: 50px;
  text-shadow: 5px 2px black;
}

.table-responsive-sm {
  margin: 10px 0 30px 0;
}

@media screen and (min-width: 360px) and (max-width: 428px) {
  .table-bmi table {
    width: 100%;
  }
  .table-bmi .table-responsive-sm {
    overflow-x: auto;
  }
  .table-bmi table {
    width: 100%;
  }

  .table-bmi {
    margin: 20px 0 10px 0;
    padding: 30px 10px 10px 10px;
  }

  .bmi-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-shadow: 5px 2px black;
  }

  .table-responsive-sm {
    margin: 10px 0 30px 0;
  }

  .table-responsive-sm th,
  .table-responsive-sm td {
    white-space: nowrap;
  }
}
