* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fd800c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b05500;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
.table-kompetensi {
  margin: 50px 0 50px 0;
  padding: 30px 50px 30px 50px;
}

.kompetensi-title {
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #fd800c;
  margin-bottom: 50px;
  text-shadow: 5px 2px black;
}

.table-responsive-sm {
  margin: 10px 0 30px 0;
}

.btn-primary {
  background-color: #fd800c;
  border: none;
  box-shadow: 2px 5px black;
}
.btn-primary:hover {
  background-color: transparent;
  border: #fd800c 2px solid;
  color: black;
  box-shadow: 2px 5px black;
}

#inputSertifikatKompetensiLabel {
  font-size: 30px;
}
.modal-dialog {
  min-width: 800px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.upload-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}

.file-upload-label svg {
  height: 50px;
  fill: rgb(253, 128, 12);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: white;
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(253, 128, 12);
  box-shadow: 0px 0px 50px -50px rgba(0, 0, 0, 0.7);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(253, 128, 12);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  box-shadow: 2px 5px black;
}
.browse-button:hover {
  border: 1px solid rgb(253, 128, 12);
  background-color: transparent;
  color: black;
}

.box-file-upload {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border: #fd800c 2px dashed;
  border-radius: 10px;
  padding: 10px;
}
.box-file-upload p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

@media screen and (min-width: 360px) and (max-width: 428px) {
  .table-kompetensi table {
    width: 100%;
  }
  .table-kompetensi .table-responsive-sm {
    overflow-x: auto;
  }
  .table-kompetensi table {
    width: 100%;
  }

  .table-kompetensi {
    margin: 20px 0 10px 0;
    padding: 30px 10px 10px 10px;
  }

  .kompetensi-title {
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    text-shadow: 5px 2px black;
  }

  .table-responsive-sm {
    margin: 10px 0 30px 0;
  }

  .table-responsive-sm th,
  .table-responsive-sm td {
    white-space: nowrap;
  }

  #inputSertifikatKompetensiLabel {
    width: 250px;
    font-size: 15px;
  }

  .modal-dialog {
    min-width: 360px;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  }
  .upload-file {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }

  .file-upload-label svg {
    height: 50px;
    fill: rgb(253, 128, 12);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: white;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(253, 128, 12);
    box-shadow: 0px 0px 50px -50px rgba(0, 0, 0, 0.7);
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(253, 128, 12);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
    box-shadow: 2px 5px black;
  }
  .browse-button:hover {
    border: 1px solid rgb(253, 128, 12);
    background-color: transparent;
    color: black;
  }

  .box-file-upload {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border: #fd800c 2px dashed;
    border-radius: 10px;
    padding: 10px;
  }
  .box-file-upload p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .delete-icon {
    cursor: pointer;
    margin-left: 10px;
  }
}
