* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fd800c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b05500;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.btn-warning {
  background-color: #fd800c;
  color: black;
}
.btn-warning:hover {
  background-color: #fd800c;
  color: white;
}
.module-section {
  margin: 100px 0 30px 0;
}
.list-group-item:hover {
  background-color: #fd800c;
  color: white;
}

.module h3 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border: 1px solid #fd800c;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0 20px 0;
}

.module-content {
  display: none;
  padding: 10px 0 0 0;
}

.module-content p {
  margin: 0;
}

.show {
  display: block;
  margin-bottom: 30px;
}

.modul{
  text-align: end;
  padding: 0;
}

.hadir {
  text-align: center;
  padding: 0;
}

.selesai {
  text-align: start;
  padding: 0;
}

.module-rabu h1{
  border-radius: 10px;
  border: 1px solid #fd800c;
  padding: 10px;
  font-size: 15px;
}
.module-senin h1{
  border-radius: 10px;
  border: 1px solid #fd800c;
  padding: 10px;
  font-size: 15px;
}

.activated1 {
  background-color: #fd800c;
  color: white;
}

@media screen and (min-width: 360px) and (max-width: 428px) {
  .col-lg-4 {
    margin: 0 10px 0 10px;
  }

  .module h3 {
    margin: 20px 0 10px 0;
  }

  #page-modul1,
  #page-modul2,
  #page-modul3 {
    margin: 0 10px 0 10px;
  }

  .modul {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .hadir {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .selesai {
    text-align: center;
    justify-content: center;
  }
}
